<div class="footer-wrapper">
    <a href="https://youtube.com" class="footer-questions">Questions? Call 976-95835511</a>
    <ul class="footer-items">
        <li><a href="https://youtube.com">FAQ</a></li>
        <li><a href="https://youtube.com">Help Center</a></li>
        <li><a href="https://youtube.com">Account</a></li>
        <li><a href="https://youtube.com">Media Center</a></li>
        <li><a href="https://youtube.com">Investor Relations</a></li>
        <li><a href="https://youtube.com">Jobs</a></li>
        <li><a href="https://youtube.com">Ways To Watch</a></li>
        <li><a href="https://youtube.com">Terms Of Use</a></li>
        <li><a href="https://youtube.com">Privacy</a></li>
        <li><a href="https://youtube.com">Cookie Preferences</a></li>
        <li><a href="https://youtube.com">Corporate Information</a></li>
        <li><a href="https://youtube.com">Contact Us</a></li>
        <li><a href="https://youtube.com">Speed Test</a></li>
        <li><a href="https://youtube.com">Legal Notices</a></li>
        <li><a href="https://youtube.com">Only On Netflix</a></li>
        <li><a href="https://youtube.com">Ad Choices</a></li>
    </ul>
    <button class="footer-lang-btn" aria-label="Select language">
        <img src="/assets/public/buttons/language-selection.svg" alt="" width="16" height="16"/>
        <span>English</span>
    </button>
    <p class="footer-country">Netflix Mongolia</p>
</div>