<div class="wrapper">
    <a href="http://youtube.com" class="questions">Questions? Call 976-95835511</a>
    <ul class="items">
        <li><a href="https://youtube.com">FAQ</a></li>
        <li><a href="https://youtube.com">Investor Relations</a></li>
        <li><a href="https://youtube.com">Buy Gift Cards</a></li>
        <li><a href="https://youtube.com">Cookie Preferences</a></li>
        <li><a href="https://youtube.com">Legal Notices</a></li>
        <li><a href="https://youtube.com">Help Center</a></li>
        <li><a href="http://youtube.com">Jobs</a></li>
        <li><a href="http://youtube.com">Ways To Watch</a></li>
        <li><a href="http://youtube.com">Corporate Information</a></li>
        <li><a href="http://youtube.com">Only On Netflix</a></li>
        <li><a href="http://youtube.com">Account</a></li>
        <li><a href="http://youtube.com">Netflix Shop</a></li>
        <li><a href="http://youtube.com">Terms Of Use</a></li>
        <li><a href="http://youtube.com">Contact Us</a></li>
        <li><a href="http://youtube.com">Media Center</a></li>
        <li><a href="http://youtube.com">Redeem Gift Cards</a></li>
        <li><a href="http://youtube.com">Privacy</a></li>
        <li><a href="http://youtube.com">Speed Test</a></li>
        <li><a href="http://youtube.com">Ad Choices</a></li>
    </ul>
    <p-button>
        <ng-template pTemplate="icon">
            <img src="/src/assets/public/buttons/language-selection.svg" alt="language-selection"/>
        </ng-template>
    </p-button>
</div>