<div class="wrapper">
    <button class="logo-btn">
        <img src="/assets/public/buttons/logo.svg" alt="logo"/>
    </button>

    <div class="navbars">
        <nav>Home</nav>
        <nav>TV Shows</nav>
        <nav>Movies</nav>
        <nav>My List</nav>
        <nav>Browse by Languages</nav>
    </div>

    <div class="icons">
        <button class="logo-btn">
            <img src="/assets/public/buttons/search-icon.svg" alt="logo"/>
        </button>
        <button class="logo-btn">
            <img src="/assets/public/buttons/notification-icon.svg" alt="logo"/>
        </button>
        <button class="logo-btn">
            <img src="/assets/public/profile/mini-profile.svg" alt="logo"/>
        </button>
    </div>
</div>