.wrapper {
  min-height: 100vh;
  background: #141414;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 0 16px;
  }
}

.my-list {
  display: flex;
  gap: 128px;
  margin: 32px 0 16px 32px;
  color: #fff;
}

.my-list h1 {
  font-size: 2rem;
  margin-bottom: 16px;
  color: #fff;
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}