.wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: row;
}